.box{
    width: 200px;
    border: 1px solid #000;
    padding: 15px;
    text-align: center;
    margin: center;
}

.color{
    background-color: green;
    color: white;
}

.fadeOutBox{
    width: 200px;
    border: 2px dotted red;
    padding: 15px;
    text-align: center;
    margin: center;
    transition: 0.6s all linear;
}

.boite{
}

.show{
    opacity: 1;
}